<body>
    

    <header>
        <h1>Seu enventario</h1>
    </header>
    <form [formGroup]="cadastro" >
         <div>
            @if (cadastro.get('nomeProduto').hasError('required') && cadastro.get('nomeProduto').touched) {
            
              <p class="alert alert-warning">precisa informar o neme do produto </p>
         }
         nome do produto: <br>
            <input type="text" formControlName="nomeProduto" class="form-contol" placeholder="Nome Do Produto">
        </div>
        <div>
            @if (cadastro.get('validadeProduto').hasError('required') && cadastro.get('validadeProduto').touched) {
                <p class="alert alert-warning">precisa informar a data de validade </p>
         }
        data de validade: <br>
            <input type="date" id="dataim" formControlName="validadeProduto" class="form-contol" >
        </div>
        <div>
            @if (cadastro.get('valorProduto').hasError('required') && cadastro.get('valorProduto').touched) {
                <p class="alert alert-warning">precisa informa o valor do seu produto</p>
            }
            valor do produto: <br>
            <input type="number"formControlName="valorProduto" name="" id="" class="form-contol" placeholder="valor do produto">
        </div>
        <div>
            @if (cadastro.get('quantidadeProduto').hasError('required') && cadastro.get('quantidadeProduto').touched) {
                <p class="alert alert-warning">precisa informa a quantidade desse produto</p>
            }
            quantidade do produto: <br>
            <input type="number" formControlName="quantidadeProduto" name="" id="" class="form-contol" placeholder="quantidade do produto">
        </div>
        <div>
            @if (cadastro.get('codigoBarraProduto').hasError('required') && cadastro.get('codigoBarraProduto').touched) {
                <p class="alert alert-warning">precisa informar o codigo de barra desse produto</p>
            }
            codigo de barra: <br>
            <input type="text" formControlName="codigoBarraProduto" class="form-contol" placeholder="codigo de barra">
        </div>
        <div >
            @if (visBtn) {       
                <input type="button" value="cadastra" class="btn btn-outline-primary" (click)="cadastra()" [disabled]="cadastro.invalid" >
            }
            @else {

                <input type="button" value="alterar" class="btn btn-outline-primary"  (click)="alterar()" [disabled]="cadastro.invalid">
                <input type="button" value="excluir" class="btn btn-outline-primary" (click)="excluir()" [disabled]="cadastro.invalid">
                <input type="button" value="cancelar" class="btn btn-outline-primary"(click)="cancelar()" >
            }
            
        
        </div>
    
   
    </form> 
</body>
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>#</th>
            <th>nome do produto</th>
            <th>data de validade</th>
            <th>valor(R$)</th>
            <th>quantidade</th>
            <th>codigo de barra</th>
            <th>selecinar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vetor; index as indice">
            <td>{{indice + 1}}</td>
            <td>{{v.nomeProduto}}</td>
            <td>{{v.validadeProduto}}</td>
            <td>{{v.valorProduto  | currency: 'BRL'}}</td>
            <td>{{v.quantidadeProduto}}</td>
            <td>{{v.codigoBarraProduto}}</td>
            <td><button class="btn btn-outline-primary" (click)="selecionar(indice)">selecionar</button></td>
        </tr>
    </tbody>
</table>